NODE_ENV=development
PORT=3001

DATABASE_URL=postgres://tj_pos:tj_pos@localhost:5432/tj_pos

POSTGRES_PORT=5432
POSTGRES_USER=tj_pos
POSTGRES_PASSWORD=tj_pos
POSTGRES_DB=tj_pos

JWT_ACCESS_SECRET=dev_access_secret
JWT_REFRESH_SECRET=dev_refresh_secret

CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET=



# Email: owner@tjcafe.la
# Password: VtCoffee@2025!
# Role: owner
# Business: TJ Cafe Vientiane
# Slug: tj-cafe-vientiane
